/bin/
/configs/magicboxie.yaml
/configs/magicboxie.local.yaml
*.sqlite
*.sqlite-journal
jwt.key
/frontend/node_modules/
/frontend/dist/
/internal/web/dist/*
!/internal/web/dist/.gitkeep
/dist/
/content/
/data/
.DS_Store
